<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserDao">
	<resultMap id="BaseResultMap" type="com.example.demo.bean.User">
		<result column="userid" property="userid" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="sex" property="sex" />
		<result column="age" property="age" />
	</resultMap>

	<parameterMap id="User" type="com.example.demo.bean.User"/>

	<sql id="Base_Column_List">
		userid,username,password,sex,age
	</sql>

	<select id="getUserInfoById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user where userid = #{userid}
	</select>
	
	<insert id="addUser" parameterMap="User" keyProperty="userid">
		 insert into user(<include refid="Base_Column_List" />)
         values(#{userid},#{username},#{password},#{sex},#{age})
	</insert>

</mapper>